
h1 {
  font-family: 'Pacifico';
  font-size: 6vw;
}
h2, h3 {
  font-family: 'Pacifico';
  font-size: 5vw;
}
h3 {
  font-family: 'Pacifico';
  font-size: 4vw;
}
p {
  font-size: 14px;
  line-height: 18px;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.topnav {
  overflow: hidden;
  background-color: #e5e5ff;
}

.topnav a {
  float: left;
  color: #585858;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

.topnav a:hover {
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.box1 {
  background-color: #e5e5ff;
  width: auto;
  height: auto;
  text-align: center;
  color:#6666ff;
}
.miniMe {
  width: 110px;
  height: 75px;
  background: url('../images/MiniMeSpriteSheet3.png') left center;
  background-repeat: no-repeat;
  /* background-size: 10000px; */
  animation: play 1.2s steps(9) infinite;
}
@keyframes play{
  0 {background-position: 0;}
  50% {background-position: -990px;}
  100% {background-position: 0;}
}
.box1work {
  background-color: #e5e5ff;
  width: auto;
  height: auto;
  text-align: center;
  color:#6666ff;
}
.box1work a:hover{
  color:white;
}
.box1about {
  background-color: #e5e5ff;
  width: auto;
  height: auto;
  padding-top: 1em;
  padding-bottom: 35.8%;
  text-align: center;
  font-size: 3.3vw;
  margin-bottom: -1%;
  color:#6666ff;
}
.portraitButton{
  position:relative;
  height: 200px;
  width: 150px;
  background:blue;
}
.portrait {
  position:relative;
  height: 200px;
  width: 150px;
  background: black;
}
@keyframes turn{
  0 {}
  50% {transform: rotateY(90deg) skewY(30deg)}
  100% {transform: rotateY(180deg)}
}
.portraitButton:hover .portrait{
  /* transform:rotateY(180deg) skewY(30deg);
    transition:all 1s linear; */
      animation: turn 1s steps(20);
      background:yellow;
}
.textBox {
  position:absolute;
  opacity:1;
  left:500px;
  transition: left 1s linear;
  font-size: 12px;
  color:blue;
}
.portraitButton:hover .textBox{
  opacity:0;
  left:0px;
}
/* .portrait:active{
  transform:rotateY(80deg);
  transition:all 1s linear;
} */
.box2index {
  background-color: #9999ff;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
}
.icons {
  width:15vw;
  height:15vw;
  padding:1%;
}
.box2about {
  background-color: #9999ff;
  width: auto;
  height: 50%;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
  font-size: 12px;
}
.box2work {
  background-color: #9999ff;
  width: auto;
  height: 50%;
  padding-top: 10%;
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
}
.box2work a:hover{
  color:white;
}
.box3 {
  background-color: #7f7fff;
  padding-top: 10%;
  padding-bottom: 2em;
  padding-left:15%;
  padding-right:15%;
  text-align: center;
  color: white;
  float:left;
}
.talentsBox{
  background-color: #9999ff;
  padding-top:0.3em;
  padding-bottom:7vw;
  padding-left:5%;
  padding-right:5%;
}

.talents {
  width:60%;
  float:left;
  text-align: left;
  font-family:Arial;
}
.stars {
  width:40%;
  float:left;
}

.box4 {
  background-color: #9999ff;
  width: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left:15%;
  padding-right:15%;
  text-align: center;
  color: white;
  float:left;
}

.footer {
  background-color: #ccccff;
  padding-bottom: 1vw;
  padding-left:15%;
    padding-right:15%;
  text-align: center;
  color: grey;
}

.footer1{
  padding-top:10%;
  float:left;
  width:33%;
  font-size: 18px;
  color: #585858;
}

.footer1 a:hover {
  color: white;
}

.contactName {
  color: white;
  font-size:18px;
}
